In [2]:
from IPython.display import Image
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import string
import time
from datetime import datetime
import pymysql
from IPython.display import Image
from sqlalchemy import create_engine
def generate_random(size):
       return ''.join(random.choice(string.ascii_letters) for x in range(size))

![](send_data_2_different_destinations.PNG)

[YouTube Video Tutorial](https://youtu.be/dud30MeHdLQ)

## Create a database a table in MySQL

CREATE DATABASE mulesoft;

USE mulesoft;

CREATE TABLE Persons (
    PersonID int,
    
    LastName varchar(255),
    
    FirstName varchar(255),
    
    Address varchar(255),
    
    City varchar(255)
);


### SQL query string

INSERT INTO Persons (PersonID,LastName, FirstName, Address, City)

VALUES (:PersonID, :LastName, :FirstName, :Address, :City)


### Input parameters

{"PersonID":payload.PersonID,

 "LastName":payload.LastName,
 
 "FirstName":payload.FirstName,
 
 "Address": payload.Address,
 
 "City":payload.City}

## PostgreSQL Config
#### URL: jdbc:postgresql://localhost:5432/db_name
#### Driver class name: org.postgresql.Driver

## Continuously genetate and save csv file every 5 seconds

In [ ]:
num_rows = 10
num_characters = 4
while True:
    PersonID =  np.random.randint(200000, size=10)
    LastName =  [generate_random(num_characters) for x in range(num_rows)]
    FirstName = [generate_random(num_characters) for x in range(num_rows)]
    Address =   [generate_random(num_characters) for x in range(num_rows)]
    City =     [generate_random(num_characters) for x in range(num_rows)]
    df = pd.DataFrame({'PersonID':PersonID, 'LastName':LastName, 'FirstName':FirstName, 'Address':Address, 'City':City})
    file_name = 'data/' + str(datetime.now()).replace(' ', '_').replace(":", '_')[:19]
    df.to_csv(file_name + '.csv', index = False)
    time.sleep(5)

## Continuously genetate and save json file every 10 seconds

In [ ]:
num_rows = 10
num_characters = 4
while True:
    PersonID =  np.random.randint(200000, size=10)
    LastName =  [generate_random(num_characters) for x in range(num_rows)]
    FirstName = [generate_random(num_characters) for x in range(num_rows)]
    Address =   [generate_random(num_characters) for x in range(num_rows)]
    City =     [generate_random(num_characters) for x in range(num_rows)]
    df = pd.DataFrame({'PersonID':PersonID, 'LastName':LastName, 'FirstName':FirstName, 'Address':Address, 'City':City})
    file_name = 'data/' + str(datetime.now()).replace(' ', '_').replace(":", '_')[:19]
    df.to_json(file_name + '.json', orient ='records')
    time.sleep(10)

## Check data is being inserted into the databases

In [3]:
host = "localhost"
port = 3306
dbname = "mulesoft"
user = "root"
password = "a1b2c3d4!"

while True:

    conn_mysql = pymysql.connect(host, user = user,port = port,
                               passwd = password, db = dbname)
    
    engine_postgres = create_engine('postgresql://postgres:a1b2c3d4!@localhost/mulesoft')
    
    df_mysql = pd.read_sql('select count(*) AS count from Persons;', con = conn_mysql)
    
    df_postgres = pd.read_sql('select count(*) AS count from Persons;', con = engine_postgres)
    conn_mysql.close()
    print('MySQL number of rows: ', df_mysql['count'].tolist()[0])
    print('PostgreSQL number of rows: ', df_postgres['count'].tolist()[0])
    time.sleep(5)

MySQL number of rows:  130
PostgreSQL number of rows:  60
MySQL number of rows:  142
PostgreSQL number of rows:  64
MySQL number of rows:  154
PostgreSQL number of rows:  70
MySQL number of rows:  161
PostgreSQL number of rows:  71
MySQL number of rows:  173
PostgreSQL number of rows:  80
MySQL number of rows:  182
PostgreSQL number of rows:  83
MySQL number of rows:  195
PostgreSQL number of rows:  90
MySQL number of rows:  204
PostgreSQL number of rows:  100
MySQL number of rows:  219
PostgreSQL number of rows:  100
MySQL number of rows:  225
PostgreSQL number of rows:  109
MySQL number of rows:  240
PostgreSQL number of rows:  110
MySQL number of rows:  246
PostgreSQL number of rows:  120
MySQL number of rows:  260
PostgreSQL number of rows:  120
MySQL number of rows:  270
PostgreSQL number of rows:  130
MySQL number of rows:  280
PostgreSQL number of rows:  130
MySQL number of rows:  290
PostgreSQL number of rows:  140
MySQL number of rows:  300
PostgreSQL number of rows:  140
MySQL number of rows:  310
PostgreSQL number of rows:  150
MySQL number of rows:  320
PostgreSQL number of rows:  150
MySQL number of rows:  330
PostgreSQL number of rows:  160
MySQL number of rows:  340
PostgreSQL number of rows:  160
MySQL number of rows:  350
PostgreSQL number of rows:  170
MySQL number of rows:  351
PostgreSQL number of rows:  170
MySQL number of rows:  361
PostgreSQL number of rows:  179
MySQL number of rows:  371
PostgreSQL number of rows:  180
MySQL number of rows:  380
PostgreSQL number of rows:  190
MySQL number of rows:  390
PostgreSQL number of rows:  190
MySQL number of rows:  400
PostgreSQL number of rows:  200

KeyboardInterrupt: