In [2]:
from IPython.display import Image
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import string
import time
from datetime import datetime
import pymysql
from IPython.display import Image
from sqlalchemy import create_engine
def generate_random(size):
       return ''.join(random.choice(string.ascii_letters) for x in range(size))

![](insert_2_mysql_continous_data_parallel.PNG)

![](scatter-gather.png)

[YouTube Video Tutorial](https://youtu.be/TOEbsPBOOyI)

## Create a database a table in MySQL

CREATE DATABASE mulesoft;

USE mulesoft;

CREATE TABLE Persons (
    PersonID int,
    
    LastName varchar(255),
    
    FirstName varchar(255),
    
    Address varchar(255),
    
    City varchar(255)
);



### SQL query string

INSERT INTO Persons (PersonID,LastName, FirstName, Address, City)

VALUES (:PersonID, :LastName, :FirstName, :Address, :City)


### Input parameters

{"PersonID":payload.PersonID,

 "LastName":payload.LastName,
 
 "FirstName":payload.FirstName,
 
 "Address": payload.Address,
 
 "City":payload.City}

## PostgreSQL Config
#### URL: jdbc:postgresql://localhost:5432/db_name
#### Driver class name: org.postgresql.Driver

In [6]:
num_rows = 10
num_characters = 4
PersonID =  np.random.randint(200000, size=10)
LastName =  [generate_random(num_characters) for x in range(num_rows)]
FirstName = [generate_random(num_characters) for x in range(num_rows)]
Address =   [generate_random(num_characters) for x in range(num_rows)]
City =     [generate_random(num_characters) for x in range(num_rows)]
df = pd.DataFrame({'PersonID':PersonID, 'LastName':LastName, 'FirstName':FirstName, 'Address':Address, 'City':City})
df.to_json('tmp.json', orient ='records')

## Continuously genetate and save csv file and png plot evey second

In [ ]:
num_rows = 10
num_characters = 4
while True:
    PersonID =  np.random.randint(200000, size=10)
    LastName =  [generate_random(num_characters) for x in range(num_rows)]
    FirstName = [generate_random(num_characters) for x in range(num_rows)]
    Address =   [generate_random(num_characters) for x in range(num_rows)]
    City =     [generate_random(num_characters) for x in range(num_rows)]
    df = pd.DataFrame({'PersonID':PersonID, 'LastName':LastName, 'FirstName':FirstName, 'Address':Address, 'City':City})
    file_name = 'data/' + str(datetime.now()).replace(' ', '_').replace(":", '_')[:19]
    df.to_csv(file_name + '.csv', index = False)
    plt.plot(np.random.randint(low = 0, high = 100, size = 20))
    plt.savefig(file_name + 'png')
    time.sleep(5)

## Check data is being inserted into the databases

In [ ]:
host = "localhost"
port = 3306
dbname = "mulesoft"
user = "root"
password = "a1b2c3d4!"

while True:

    conn_mysql = pymysql.connect(host, user = user,port = port,
                               passwd = password, db = dbname)
    
    engine_postgres = create_engine('postgresql://postgres:a1b2c3d4!@localhost/mulesoft')
    
    df_mysql = pd.read_sql('select count(*) AS count from Persons;', con = conn_mysql)
    
    df_postgres = pd.read_sql('select count(*) AS count from Persons;', con = engine_postgres)
    conn_mysql.close()
    print('MySQL number of rows: ', df_mysql['count'].tolist()[0])
    print('PostgreSQL number of rows: ', df_postgres['count'].tolist()[0])
    time.sleep(3)

MySQL number of rows:  189
PostgreSQL number of rows:  212
MySQL number of rows:  217
PostgreSQL number of rows:  242
MySQL number of rows:  248
PostgreSQL number of rows:  261
MySQL number of rows:  265
PostgreSQL number of rows:  270
MySQL number of rows:  273
PostgreSQL number of rows:  277
MySQL number of rows:  284
PostgreSQL number of rows:  287
MySQL number of rows:  293
PostgreSQL number of rows:  295
MySQL number of rows:  299
PostgreSQL number of rows:  303
MySQL number of rows:  306
PostgreSQL number of rows:  309
MySQL number of rows:  312
PostgreSQL number of rows:  313
MySQL number of rows:  316
PostgreSQL number of rows:  315
MySQL number of rows:  320
PostgreSQL number of rows:  322
MySQL number of rows:  327
PostgreSQL number of rows:  329
MySQL number of rows:  331
PostgreSQL number of rows:  334
MySQL number of rows:  339
PostgreSQL number of rows:  341
MySQL number of rows:  345
PostgreSQL number of rows:  348
MySQL number of rows:  350
PostgreSQL number of rows:  353
MySQL number of rows:  359
PostgreSQL number of rows:  360
MySQL number of rows:  365
PostgreSQL number of rows:  368
MySQL number of rows:  372
PostgreSQL number of rows:  374
MySQL number of rows:  376
PostgreSQL number of rows:  378
MySQL number of rows:  382
PostgreSQL number of rows:  385
MySQL number of rows:  391
PostgreSQL number of rows:  395
MySQL number of rows:  399
PostgreSQL number of rows:  404
MySQL number of rows:  407
PostgreSQL number of rows:  410
MySQL number of rows:  414
PostgreSQL number of rows:  417
MySQL number of rows:  420
PostgreSQL number of rows:  422
MySQL number of rows:  428
PostgreSQL number of rows:  429
MySQL number of rows:  434
PostgreSQL number of rows:  437
MySQL number of rows:  442
PostgreSQL number of rows:  442
MySQL number of rows:  447
PostgreSQL number of rows:  450
MySQL number of rows:  454
PostgreSQL number of rows:  457
MySQL number of rows:  461
PostgreSQL number of rows:  464
MySQL number of rows:  468
PostgreSQL number of rows:  471
MySQL number of rows:  475
PostgreSQL number of rows:  478
MySQL number of rows:  483
PostgreSQL number of rows:  486
MySQL number of rows:  489
PostgreSQL number of rows:  492
MySQL number of rows:  494
PostgreSQL number of rows:  496
MySQL number of rows:  496
PostgreSQL number of rows:  496
MySQL number of rows:  496
PostgreSQL number of rows:  496