## Insert different datasets into MySQL

#### MySQL credentials

In [1]:
host = "localhost"
port = 3306
dbname = "mulesoft"
user = "root"
password = "mulesoft2022"

#### Import packages

In [29]:
from sqlalchemy import create_engine
import pandas as pd
import wget
import zipfile
from glob import glob

###### Maryland Statewide Vehicle Crashes - Vehicle Details

Crash data for Maryland from January 2015 through December 2021. Only Approved Crash reports have been included in the file. Data can be dowloaded from [here](https://catalog.data.gov/dataset/maryland-statewide-vehicle-crashes-vehicle-details).

In [47]:
vehicle_crashes = pd.read_csv("vehicle_crashes.csv")
vehicle_crashes.head()

,HARM_EVENT_DESC,HARM_EVENT_CODE,CONTI_DIRECTION_DESC,CONTI_DIRECTION_CODE,DAMAGE_DESC,DAMAGE_CODE,MOVEMENT_DESC,MOVEMENT_CODE,VIN_NO,REPORT_NO,...,TOWED_VEHICLE_CONFIG_DESC,TOWED_VEHICLE_CONFIG_CODE,AREA_DAMAGED_CODE_IMP1,AREA_DAMAGED_CODE1,AREA_DAMAGED_CODE2,AREA_DAMAGED_CODE3,AREA_DAMAGED_CODE_MAIN_DESC,AREA_DAMAGED_CODE_MAIN,YEAR,Quarter
0,Other Vehicle,1.0,North,N,Unknown,99,Unknown,99.0,NaN,AE5057004X,...,Unknown,99,11.0,10.0,11.0,12.0,Eleven o'clock,11.0,2020,Q2
1,Other Vehicle,1.0,North,N,Superficial,2,Moving Constant Speed,1.0,NMTKHMBX0JR025092,MSP7221001P,...,Not Applicable,0,12.0,6.0,12.0,NaN,Twelve o'clock,12.0,2020,Q2
2,Other Vehicle,1.0,South,S,Functional,3,Stopped in Traffic Lane,6.0,2GNAXPEX5K6103012,DA37010040,...,Not Applicable,0,6.0,6.0,NaN,NaN,Six o'clock,6.0,2020,Q2
3,Fixed Object,9.0,Unknown,U,Unknown,99,Not Applicable,0.0,NaN,MDTA1791002C,...,Not Applicable,0,99.0,99.0,NaN,NaN,Unknown,99.0,2020,Q2
4,Other Vehicle,1.0,East,E,Disabling,4,Slowing or Stopping,3.0,5FNRL18672B048550,AE456100BL,...,Not Applicable,0,6.0,6.0,12.0,NaN,Six o'clock,6.0,2020,Q2

#### Import data into MySQL

In [48]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user=user,
                               pw=password,
                               db=dbname))
vehicle_crashes.to_sql('vehicle_crashes', con = engine, if_exists = 'replace', chunksize = 1000)

#### Diamonds data

**price**: price in US dollars

**carat**: weight of the diamond

**cut**: quality of the cut	Fair, Good, Very Good, Premium, Ideal

**color**: diamond color	J (worst) to D (best)

**clarity**: measurement of how clear the diamond is	I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best)

**x**: length in mm	

**y**: width in mm

**z**: depth in mm

Can be downloaded from my GitHub repo [here](https://github.com/fissehab/mulesoft/tree/main/Free_MuleSoft_Developer_Course/data)

In [50]:
diamonds = pd.read_csv("diamonds.csv")

In [49]:
diamonds.shape

(53940, 10)

In [7]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

#### Insert into MySQL

In [51]:
diamonds.to_sql('diamonds', con = engine, if_exists = 'replace', chunksize = 1000)

#### FEARS Data

In [17]:
urls = []
for year in range(2018, 2022):
    for quarter in range(1, 5):
        url = f"https://fis.fda.gov/content/Exports/faers_ascii_{year}Q{quarter}.zip"
        urls.append(url)
urls

['https://fis.fda.gov/content/Exports/faers_ascii_2018Q1.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2018Q2.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2018Q3.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2018Q4.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2019Q1.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2019Q2.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2019Q3.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2019Q4.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2020Q1.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2020Q2.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2020Q3.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2020Q4.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2021Q1.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2021Q2.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2021Q3.zip',
 'https://fis.fda.gov/content/Exports/faers_ascii_2021Q4.zip']

In [ ]:
for url in urls:
    wget.download(url)

In [22]:
files = []
for year in range(2018, 2022):
    for quarter in range(1, 5):
        file = f"faers_ascii_{year}Q{quarter}.zip"
        files.append(file)
files

['faers_ascii_2018Q1.zip',
 'faers_ascii_2018Q2.zip',
 'faers_ascii_2018Q3.zip',
 'faers_ascii_2018Q4.zip',
 'faers_ascii_2019Q1.zip',
 'faers_ascii_2019Q2.zip',
 'faers_ascii_2019Q3.zip',
 'faers_ascii_2019Q4.zip',
 'faers_ascii_2020Q1.zip',
 'faers_ascii_2020Q2.zip',
 'faers_ascii_2020Q3.zip',
 'faers_ascii_2020Q4.zip',
 'faers_ascii_2021Q1.zip',
 'faers_ascii_2021Q2.zip',
 'faers_ascii_2021Q3.zip',
 'faers_ascii_2021Q4.zip']

In [25]:
for file in files:
    with zipfile.ZipFile(file, 'r') as zip_ref:
        zip_ref.extractall("C:/Fish/fish/MuleSoft/MuleSoftDeveloperCourse/data/")

In [32]:
drug_files = glob("./ascii/DRUG*.txt")
drug_files

['./ascii\\DRUG18Q1.txt',
 './ascii\\DRUG18Q2.txt',
 './ascii\\DRUG18Q3.txt',
 './ascii\\DRUG18Q4.txt',
 './ascii\\DRUG19Q1.txt',
 './ascii\\DRUG19Q2.txt',
 './ascii\\DRUG19Q3.txt',
 './ascii\\DRUG19Q4.txt',
 './ascii\\DRUG20Q1.txt',
 './ascii\\DRUG20Q2.txt',
 './ascii\\DRUG20Q3.txt',
 './ascii\\DRUG20Q4.txt',
 './ascii\\DRUG21Q1.txt',
 './ascii\\DRUG21Q2.txt',
 './ascii\\DRUG21Q3.txt',
 './ascii\\DRUG21Q4.txt']

In [41]:
frames = []
for file in drug_files:
    try:
        df = pd.read_csv(file, sep = '$')
        df = df[['drugname', 'route', 'dose_vbm', 'dose_amt', 'dose_unit', 'dose_form','dose_freq']]
        frames.append(file)
    except:
        print(file, ' failed reading')

./ascii\DRUG19Q3.txt  failed reading

C:\Users\fissehaberhane\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (14,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [42]:
df.shape

(1778675, 7)

In [44]:
df.head()

,drugname,route,dose_vbm,dose_amt,dose_unit,dose_form,dose_freq
0,JAKAFI,Oral,30 mg every morning and 15 mg every night befo...,15.0,MG,Tablet,NaN
1,JAKAFI,Unknown,UNK,NaN,NaN,Tablet,NaN
2,ASPIRIN,Unknown,NaN,NaN,NaN,NaN,NaN
3,PROPRANOLOL,Unknown,NaN,NaN,NaN,NaN,NaN
4,SANDOSTATIN,Subcutaneous,"UNK ug, ONCE/SINGLE (test dose)",NaN,NaN,NaN,NaN

In [52]:
df.to_sql('drug_side_effects', con = engine, if_exists = 'replace', chunksize = 1000)